/* GENERAL */
body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav a {
  color: black;
  font-size: 24px;
  margin: 0 20px;
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.3s;
}

nav a:hover {
  color: #333;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 20px;
  justify-items: center;
}

/* SHORTS (NO BOXES) */
.gallery-grid iframe {
  max-width: 220px;   /* size of the Shorts */
  width: 100%;
  aspect-ratio: 9 / 16;
  height: auto;
  border: none;
  display: block;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
}
